.product-description{
   width: 100%;
   max-width: 500px;
   text-align: justify;
   padding: 20px;
}
.product-description__title{
   font-weight: 600px;
   margin-bottom: 15px;
}
.product-description-description{
   font-size: 0.9rem;
   line-height: 1.9;
   margin-bottom: 37px;
}
.product-description__footer{
   display: grid;
   row-gap: 30px;
   grid-template-columns: repeat(2 1fr);
   justify-items: center;
}
.product-description__price-label,.product-description__quantity-label{
   font-weight: 400;
   font-size: 0.9rem;
   color:#aaa;
   margin-bottom: 5px;
}
.product-description__price-number{
   font-size: 1rem;
   display: flex;
   font-weight: 520;
   transform: translatex(12px);
   gap:6px;
}
.counter{
   display: flex;
   border:1px solid #aaa;
   width: max-content;
}
.product-description__price-number::before{
   content:'$'
}
.counter__minus,
.counter__plus,
.counter__number{
   width: 30px;
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}
.counter__minus,
.counter__plus{
   cursor: pointer;
   font-size: 1.4rem;
}
.counter__minus:hover,
.counter__plus:hover{
   background-color: rgb(207, 195, 195);
}
.counter__number{
aspect-ratio: 1.5;
border-right: 1px solid #aaa;
border-left: 1px solid #aaa;
}
.product-description__btn{
   grid-column: span 2;
   padding: 12px;
   background-color:rgb(252, 113, 113);
   color:white;
   font-size: 1rem;
   cursor: pointer;
   transition: filter 100ms ease;
   width: 100%;
}
.product-description__btn:hover{
   filter:brightness(1.12);
   transition: filter 100ms ease;

}